
<!-- 
<table> -->
   
  <!-- <tr>
     <th>id</th>
     <th>name</th>
     <th></th>
  </tr>

  <tr *ngFor="let k of displayProduct">

     <td></td>
  </tr>
</table> -->

<!-- <p> {{ref.id}}</p> -->

<table>

   <tr>
    <th></th>
   </tr>
   <tr *ngFor="let i of displayProduct">
   
     <td> {{i.id}}</td>
     <td> {{i.name}}</td>

   </tr>
</table>

<app-test></app-test>


<div>  <h3 style="text-align: center;"> from app componenet over</h3></div>
<app-login></app-login>

<app-register></app-register>