<p>child Component!</p>

<!-- 
<table style="border: 1px solid black;"cellPadding="20px" >

    <tr>
 <th></th>
 <th></th>
</tr>
    <tr *ngFor="let i of usd">
        <td> {{i.userId}}</td>
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{i.completed}}</td>
    </tr>
</table> -->


<!-- <table style="border: 1px solid black;"cellPadding="20px" >

    <tr>
 <th></th>
 <th></th>
</tr>
    <tr *ngFor="let i of usd">
        <td> {{i.postId}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.body}}</td>
    </tr>
</table> -->

<!-- <table style="border: 1px solid black;"cellPadding="20px" >


    <tr>
 <th></th>
 <th></th>
</tr>
    <tr *ngFor="let i of usd">
        <td> {{i.albumId}}</td>
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{i.url}}</td>
        <td>{{i.thumbnailUrl}}</td>
    </tr>
</table> -->

<table style="border: 1px solid black;"cellPadding="20px" >


    <tr>
 <th>post id</th>
 <th>id</th>
</tr>
    <tr *ngFor="let i of usd">
        <td> {{i.postId}}</td>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.body}}</td>
    </tr>
</table>